*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  width: 100%;
  padding: 5rem 10rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 5rem 3rem; } }

::selection {
  background-color: #e9ab53;
  color: #fffdfa; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #00001a;
  line-height: 1.5; }

.main__text-title {
  font-size: 5rem;
  font-weight: 800;
  color: #00001a;
  line-height: 1; }

.heading-medium {
  font-size: 4rem;
  color: #e9ab53; }

.heading-small {
  color: #fffdfa; }

.heading-x-small {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fffdfa; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 5rem !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.card {
  min-height: 100%;
  padding: 2.5rem 2.5rem 4rem;
  background-color: #00001a;
  color: #c5c6ce; }
  .card__sub-heading {
    transition: all .2s; }
    .card__sub-heading:hover {
      color: #e9ab53;
      cursor: pointer; }
  .card__text:not(:last-child) {
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(197, 198, 206, 0.603); }

.nav-popup-section {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 253, 250, 0.8);
  z-index: 20;
  transition: all .5s ease; }
  @supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
    .nav-popup-section {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba(255, 253, 250, 0.3); } }

.nav-popup {
  opacity: 0;
  visibility: hidden;
  width: 0%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fffdfa;
  transition: all .5s ease; }
  .nav-popup__list {
    margin-top: 15rem;
    padding: 0 3rem;
    list-style: none;
    font-size: 3rem;
    line-height: 3; }
  .nav-popup__link {
    text-decoration: none;
    color: #5d5f79; }
  .nav-popup__close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3rem;
    right: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .nav-popup__close {
        display: inline-block; } }
  .nav-popup__close-button {
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .nav-popup__close-button {
        display: inline-block; } }

.article-list-section .article {
  display: table; }
  @media only screen and (max-width: 56.25em) {
    .article-list-section .article {
      margin-bottom: 3rem; } }
  .article-list-section .article:not(:last-child) {
    margin-right: 2rem; }
  .article-list-section .article__left {
    width: 33.333333%;
    display: table-cell; }
  .article-list-section .article__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: top; }
  .article-list-section .article__img {
    width: 80%;
    height: auto; }
    @media only screen and (max-width: 37.5em) {
      .article-list-section .article__img {
        object-fit: cover; } }
  .article-list-section .article__number {
    margin-top: -.5rem;
    font-size: 3rem;
    color: #c5c6ce;
    font-weight: 700; }
  .article-list-section .article__heading {
    color: #00001a;
    transition: all .2s; }
    .article-list-section .article__heading:hover {
      color: #f15e50;
      cursor: pointer; }

.row {
  width: 100%;
  content: "";
  clear: both;
  display: table; }
  .row [class^="col-"] {
    min-height: 100%;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      padding-right: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          padding-right: 0; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
    @media only screen and (max-width: 56.25em) {
      .row .col-1-of-3 {
        float: none;
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% -2 * 2rem) / 3)); }
    @media only screen and (max-width: 56.25em) {
      .row .col-2-of-3 {
        float: none;
        width: 100%; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-2 {
        float: none;
        width: 100%; } }

.header {
  width: 100%; }
  .header .navigation {
    position: relative; }
    .header .navigation__logo-box {
      width: 5rem; }
    .header .navigation__logo {
      width: 100%; }
    .header .navigation__toggle-box {
      display: none;
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 1rem;
      right: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .header .navigation__toggle-box {
          display: inline-block; } }
    .header .navigation__toggle {
      display: none;
      width: 100%; }
      @media only screen and (max-width: 37.5em) {
        .header .navigation__toggle {
          display: inline-block; } }
    .header .navigation__list {
      position: absolute;
      top: 1rem;
      right: 0rem;
      display: inline-block;
      list-style: none; }
      @media only screen and (max-width: 37.5em) {
        .header .navigation__list {
          display: none; } }
    .header .navigation__item {
      display: inline-block;
      margin-left: 3rem; }
    .header .navigation__link {
      transition: all .2s; }
      .header .navigation__link:link, .header .navigation__link:visited {
        text-decoration: none;
        color: #c5c6ce; }
      .header .navigation__link:hover {
        color: #f15e50; }

.main-section {
  margin: 6rem 0; }
  .main-section .main__left {
    margin-bottom: 5rem; }
  .main-section .main__img-box {
    width: 100%; }
  .main-section .main__img {
    max-width: 100%; }
  .main-section .main__text {
    margin: 3rem 0 0; }
  .main-section .main__text-title {
    padding-right: 3rem; }
  .main-section .main__button {
    transition: all .2s; }
    .main-section .main__button:link, .main-section .main__button:visited {
      background-color: #f15e50;
      color: #fffdfa;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 4px;
      border: none;
      display: inline-block;
      padding: 1.5rem 3.5rem;
      margin-top: 3rem; }
    .main-section .main__button:hover {
      background-color: #00001a; }
