.article-list-section {
    .article {
        display: table;

        @include respond(tab-port) {
            margin-bottom: 3rem;
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &__left {
            width: 33.333333%;
            display: table-cell;
        }

        &__right {
            width: 66.666666%;
            display: table-cell;
            vertical-align: top;
        }

        &__img {
            width: 80%;
            height: auto;

            @include respond(phone) {
                object-fit: cover;
            }
        }

        &__number {
            margin-top: -.5rem;
            font-size: 3rem;
            color: $color-grey-light;
            font-weight: 700;
        }

        &__heading {
            color: $color-blue-dark;
            @include transite;

            &:hover {
                color: $color-soft-red;
                cursor: pointer;
            }
        }
    }
}