@mixin clearfix {
    content: "";
    clear: both;
    display: table;
}

@mixin center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transite {
    transition: all .2s;
}


@mixin respond($device) {
    @if $device==phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }

    @if $device==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    @if $device==tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if $device==big-desk {
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}